
.destination-main{
    padding: 40px 10% 30px;
    background: #ccccff;
    /* background: black; */
}
.cat-heading{
    text-align: center;
    padding: 1.5rem 0;
    /* margin-bottom: 55px; */
  }
  .cat-heading span{
    font-size: 2.5rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
  }